doctype html
html(lang='en')
  head
    include _includes/common-head.pug
    script(defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous")
    //-link(rel="stylesheet" href="https://fontlibrary.org/face/cmu-bright" type="text/css")
    link(rel="stylesheet" href="https://kevin-lins-personal-website.s3-us-west-2.amazonaws.com/cmu-bright/Bright/cmun-bright.css" type="text/css")
    link(rel="stylesheet" href="https://kevin-lins-personal-website.s3-us-west-2.amazonaws.com/cmu-bright/Bright Semibold/cmun-bright-semibold.css" type="text/css")
    link(rel="stylesheet" href="./resume.css" type="text/css")
    
  body.resume
    .d-print-none.mt-2.mb-3.mx-4.opaque-on-hover(style="font-size: 90%; opacity: 0.3;")
      //- TODO: refactor these styles?!?!
      .d-lg-flex.justify-content-end
        .text-right.text-nowrap.mb-1
          strong external links
        .text-right
          //-.d-inline-block.mb-2.ms-3.text-right
            //-a(href="https://calendar.google.com/calendar/embed?src=51qm6onhhavsnpe4h2k3n1e2a4%40group.calendar.google.com&mode=week" target='_blank')
              //-| 'Busy' Calendar
          .d-inline-block.mb-2.ms-3.text-right
            a(href="https://github.com/kevinlinp" target='_blank')
              | GitHub

    .d-none.d-print-block.position-absolute(style="right: 0")
      small.text-muted
        | printed from
        |
        a(href="https://kevinlinp.org/resume") kevinlinp.org/resume
        |
        | on
        |
        span#viewedAt

    .container
      .d-flex
      .text-center
        h1 Kevin Lin
        a(href="mailto:kevin.lin.p@gmail.com") kevin.lin.p@gmail.com

      section
        h2 Summary
        p Staff software engineer, backend-focused full-stack web, 10+ years of Ruby on Rails experience.

      section
        h2 Skills
        ul.list-unstyled.loose-list
          li
            strong Languages
            // defunct: Haml, Sass
            span.ms-2 Ruby, JavaScript, TypeScript, HTML, CSS, SQL
          li
            strong Frameworks
            // defunct: Vuex.js, Cucumber, RSpec, MiniTest, Capybara
            span.ms-2 Ruby on Rails, React, Vue.js, Apollo GraphQL, MiniTest, Cypress
          li
            strong Tools
            // defunct: MongoDB, Heroku, New Relic, Circle CI, Google Analytics, AWS EC2, Memcache, Circle CI, Rollbar
            span.ms-2 Linux, PostgreSQL, Elasticsearch, Sidekiq, Git, Docker, Sentry, Datadog
          li
            strong Methodologies
            span.ms-2 agile software development, test-driven development, pair programming

      section
        include _includes/resume/experience.pug

      section
        include _includes/resume/education.pug

    script.
      document.getElementById('viewedAt').textContent = new Date().toLocaleDateString(undefined, {month: 'numeric', day: 'numeric', year: '2-digit'});